<menu count = "7">
		<app>
			<name>Firefox</name>
			<path>D:\Firefox\firefox.exe</path>
			<category>Application</category>
		</app>	
		<app>
			<name>NVDA</name>
			<path>D:\NVDA\nvda.exe</path>
			<category>Accessibility</category>
		</app>
		<app>
			<name>Microsoft Word Accessibility</name>
			<path>D:\Lexdis Guide 28 - Microsoft Word Accessibility\Lexdis Guide 28 - Microsoft Word Accessibility.doc</path>
			<category>Guides</category>
		</app>
		<app>
			<name>Blogs</name>
			<path>D:\Lexdis Guide 107 - Blogs\Lexdis Guide 107 - Blogs.doc</path>
			<category>Guides</category>
		</app>	
</menu>			

