.x-icon-tasks {
    background-image: url('../img/note.png');
}
.x-icon-links {
    background-image: url('../img/link.png');
}
.x-icon-svndetails {
    background-image: url('../img/svn_detail.png');
}
.x-icon-search {
	background-image: url('../img/magnifier.png');
}
.x-icon-shared {
	background-image: url('../img/folder_link.png');
}
.x-icon-gcode {
	background-image: url('../img/page_gear.png');
}
.x-icon-taskfreak {
	background-image: url('../img/page_lightning.png');
}
button.x-icon-addtask {
	background-image: url('../img/addtask.png');
}
button.x-icon-refresh {
	background-image: url('../img/arrow_refresh.png');
}
button.x-icon-newlink {
    background-image: url('../img/link_add.png');
}
#g_search {
	padding:10px;
	text-align:center;
}